.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        text-decoration: none;
        font-size: 1.5rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($black_color, .3);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 1rem 1rem rgba($black_color, .3);
    }
    &--white {
        background-color: $white_color;
        color: $black_color;
        &:hover {
            background-color: $white_color;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        background-color: $white_color;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInBottom 2s 1s;
        animation-fill-mode: backwards;
    }
}
.btn-text{
    &:link,
    &:visited {
        text-decoration: none;
        color: $color_primary_dark;
        font-size: 2rem;
        border-bottom: solid 1px $color_primary_dark;
        display: inline-block;
        padding: .3rem;
        transition: all .2s;
    }

    &:hover{
        color: $white_color;
        background-color: $color_primary_dark;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 1rem rgba($black_color, .3);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($black_color, .3);
        transform: translateY(0);
    }
    
}
